#navbar{
    border-bottom: solid grey 2px;
    display: flex;
    
    justify-content: center;
}

body{
    max-height:1600px;
    min-height: 915px;
    background: linear-gradient(black,#424949);
    display: flex;
    text-align: center;
}

#icons-footer{
    display: flex;
    flex-direction: row;
     text-align: center;
     border-top: solid white 4px;
 width: 120px;
 justify-content: center;
 padding-top: 8px;
 
 }
 
 .saudacao{
    text-align: right;
    color: #fff;
    font-size: 20px; 
}
 
#text{
    color: white;
    font-size: 30px;
    padding-top: 20px;
}

.voltar{
 
    border: none;
    background-color: transparent;
    border-bottom: solid #f39c12 2px;
    border-left: solid #f39c12 2px ;
    border-right:  solid #f39c12 2px;
    color: #f39c12;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    
    padding: 5px;
  }
 
 /* Estilos para o corpo da página */
 body {
     display: flex;
     flex-direction: column;
     min-height: 100vh; /* 100% da altura da viewport */
     margin: 0;
 }
 
 /* Estilos para o conteúdo principal */
 .container {
     flex: 1; /* Ocupa o espaço restante na altura */
 }
 
 /* Estilos para o footer */
 .main-footer {
     background-color: transparent;
     color: #fff;
     padding: 20px 0;
     text-align: center;
 
   
     
    
 }
 