body{
    height: 900px;
    font-family: 'Roboto', sans-serif;
   background-image:  linear-gradient(135deg, #f39c12, #010101);
}






#form{
 background: #363636;
border: none;
margin-bottom: 10px;
background-color: #363636;

color: #f39c12;

}


.container{
   
   
    
    text-align: center;
    
}

.forms{
margin-top: 200px;
margin: 30px;
margin-top: 150px;
border: solid #1C1C1C 2px;
padding: 15px;
background-color: #1C1C1C;
border-radius: 5px;
box-shadow: 7px 5px 5px black;
}

#btn {
    background-color: #f39c12; 
    color: #fff;
    border-radius: 20px;
    background-color: #f39c12;
    border: none;
    width: 100px;
    transform: scale(0.8);
    transition: all 0.5s;
}

img{
    width: 150px;
    padding: 15px;
}

.text{
    color: #f39c12;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
}


#cas{
    width: 150px;
    height: 40px;
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 5px
}

#form::placeholder{
    color: #888888;
    font-size: 12px;
}
